body
{
	margin: auto 0;
	background-color: black;
	color: white
}

.logo
{
	height: 45.31px;
	width: 150px;
	text-align: center;
	padding: 1%;
}

.header
{
	background-color:black;
	color: white;
	margin: 0;
	position: fixed;
	top: 0;
	width: 100%;
	border-bottom: 2px solid white;
}

.parallex1
{
	font-family: 'Francois One', sans-serif;
	font-size: 40px;
	color: white;
	/*border-top: 2px solid white;*/
	justify-content: center;
	align-content: center;
    display: grid;
    background-image: url("consert3.jpg");
    height: 500px;
    background-attachment: fixed;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallex2
{
  font-family: 'Francois One', sans-serif;
  font-size: 40px;
  color: white;
  /*border-top: 2px solid white;*/
  justify-content: center;
  align-content: center;
    display: grid;
    background-image: url("consert2.jpg");
    height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallex3
{
  font-family: 'Francois One', sans-serif;
  font-size: 40px;
  color: white;
  /*border-top: 2px solid white;*/
  justify-content: center;
  align-content: center;
    display: grid;
    background-image: url("consert.jpg");
    height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.buttons
{
	padding: 3%;
	text-align: center;
	/*border-top: .5px solid white;*/
	background-color: black;
}

.login
{
  padding: 1%;
  font-size: 2em;
  width: 5em;
  font-family: 'Bree Serif', serif;
  color: white;
  background-color: #1DB954;
  border: none;
  border-radius: 35px;
  transition: all .5s;
  cursor: pointer;
  border: 2px solid white;
}

.login:hover
{
	background-color: #006C25;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color:  #1DB954;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 50px;
  border: 3px solid white;
  width: 80%; /* Could be more or less, depending on screen size */
  text-align: center;
  border-radius: 5px;
}

/* The Close Button */
.close {
  color: #aaa;
  position: absolute;
  top:5px;
  right: 10px;
  font-size: 5em;
  color: white;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color:#1DB954 ;
  text-decoration: none;
  cursor: pointer;
}

.id
{
  margin: 1%;
  padding: 1%;
  border:2px solid green;
  border-radius: 25px;
}

.collapsible {
  background-color:#1DB954 ;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  font-family: 'Bree Serif', serif;
  margin: 1px;
}

.collapsible:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: red;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}


/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: #006C25;
}

.content {
  padding: 0 18px;
  background-color:#191414; ;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.questions
{
  padding: 1%;
}

.footer
{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 50px;
  cursor: pointer;
  color: #999999;
}

.cont:hover
{
  color: #1DB954;
}